<aside class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a class="navbar__link" [routerLink]="['/admin/contracts']">Contracts</a>
        </li>
         <li class="navbar__item">
            <a class="navbar__link" [routerLink]="['/admin/contract/new']">New contract</a>
        </li>
         <li class="navbar__item">
            <a class="navbar__link" [routerLink]="['/admin/events']">Events</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" [routerLink]="['/admin/event/new']">New event</a>
        </li>
    </ul>
</aside>