.contract-list {
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 60px - 60px);
}
.contract-list .contract-list__title {
    font-size: 24px;
    color: #292b2c;
    line-height: 26px;
    font-family: 'Arvo', serif;
}
.contract-list .contact-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contract-list .contact-list__wrapper .contract-list__item {
    width: 30%;
    border-radius: 5px;
    border: 1px solid rgb(216, 222, 226);
    padding: 5px 0;
}
.contract-list .contact-list__wrapper .contract-list__item:nth-child(n + 4) {
    margin: 10px 0;
}
.contract-list .contract-list__key {
    font-family: 'Arvo', serif;
    font-size: 18px;
    text-align: center;
}
.contract-list  .contract-list__text {
    text-align: center;
    font-size: 16px;
}