.login {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg.jpg');
    background-position: center;
    height: calc(100% - 60px);
}
.registration .registration__title {
    margin-top: 40px;
    color: #fff;
    font-family: 'Arvo', serif;
}
.registration .registration__form {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgb(216, 222, 226);
    padding: 20px;
}
.registration .registration__btn {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
        color: rgb(255, 255, 255);
    background-color: rgb(40, 167, 69);
    background-image: linear-gradient(-180deg, rgb(52, 208, 88) 0%, rgb(40, 167, 69) 90%);
}
.registration .registration__new {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgb(216, 222, 226);
    padding: 20px 25px;
    color: #fff;
}
.registration .registration__link {
    cursor: pointer;
    color: rgb(3, 102, 214);
}